In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
#Get US National data for 2000_2009 API data
url_us_county_pop = "https://api.census.gov/data/2010/dec/sf1?get=P012001,P012002,P012026,NAME&for=county:*&in=state:*&for=us:1"
us_county_pop_response = requests.get(url_us_county_pop)
us_county_pop_data = us_county_pop_response.json()

In [61]:
# function cleanse series and return a list

def cleanse_data(top_pop_list):
    cleaned_pop_list = []
    for item in list(top_pop_list):
        pop_value = item
        if (pop_value.find("(") >=0):     
            end_position = pop_value.find("(") 
        else: 
            end_position = len(pop_value)
        #print(end_position)
        #print(pop_value[0:end_position])
        cleaned_pop_list.append(pop_value[0:end_position])
    return cleaned_pop_list

In [62]:
# Add it dataframe and conver
df_us_county_pop = pd.DataFrame(us_county_pop_data)
### Filter out the header row
df_us_county_pop = pd.DataFrame(df_us_county_pop[1:])
df_us_county_pop_final = df_us_county_pop.rename(columns = {0:"tot_county_pop", 1:"tot_county_male_pop", 2:"tot_county_female_pop",\
                                                            3:"county_name_state", 4:"state_code", 5:"county_code"})
df_us_county_pop_final.head()
#df_us_county_pop.count()
#df_us_county_pop.dtypes
#df_us_2000_2009_data = pd.DataFrame(us_2000_2009_data[1:], columns=us_2000_2009_data[0]).rename(columns = {"DATE_DESC":"PERIOD_DESC", "DATE":"PERIOD", "us":"US"})

,tot_county_pop,tot_county_male_pop,tot_county_female_pop,county_name_state,state_code,county_code
1,54571,26569,28002,"Autauga County, Alabama",01,001
2,22915,12301,10614,"Bibb County, Alabama",01,007
3,34215,16363,17852,"Chambers County, Alabama",01,017
4,25989,12888,13101,"Cherokee County, Alabama",01,019
5,25833,12214,13619,"Clarke County, Alabama",01,025

In [68]:
## create a dataframe from CSV file
csv_file = "Total_us_pop_2010_per_state.csv"
df_state_pop = pd.read_csv(csv_file, encoding="ISO-8859-1" )
### Filter out the header row
df_state_pop = pd.DataFrame(df_state_pop[1:])

## Get the subset of columns
df_state_pop_final = df_state_pop[["GEO.id2","SUBHD0101_S01", "SUBHD0102_S01", "SUBHD0103_S01"]]\
    .rename(columns = {"GEO.id2":"state_code", "SUBHD0101_S01":"total_pop", "SUBHD0102_S01":"total_male_pop", "SUBHD0103_S01":"total_female_pop"})
    
#cleanse the total pop data which has paranthesis
cleaned_total_pop = cleanse_data(df_state_pop_final ["total_pop"])

df_state_pop_final["cleaned_total_pop"] = cleaned_total_pop

df_state_pop_final.head()

,state_code,total_pop,total_male_pop,total_female_pop,cleaned_total_pop
1,01,4779736(r38235),2320188,2459548,4779736
2,02,710231(r38823),369628,340603,710231
3,04,6392017,3175823,3216194,6392017
4,05,2915918(r39193),1431637,1484281,2915918
5,06,37253956,18517830,18736126,37253956

In [136]:
df = pd.merge(df_state_pop_final, df_us_county_pop_final, on="state_code", how="inner")

#df.head()

df = df[["county_name_state", "county_code", "state_code", "cleaned_total_pop", "total_male_pop", "total_female_pop",\
        "tot_county_pop", "tot_county_male_pop", "tot_county_female_pop"]]

df["tot_county_pop"] = pd.to_numeric(df["tot_county_pop"])

pct_tot_pop_cty_st = (pd.to_numeric(df["tot_county_pop"])/pd.to_numeric(df["cleaned_total_pop"]))*100
df["pct_tot_pop_cty_st"]=pct_tot_pop_cty_st

pct_tot_male_pop_cty_st = (pd.to_numeric(df["tot_county_male_pop"])/pd.to_numeric(df["total_male_pop"])) * 100
df["pct_tot_male_pop_cty_st"]=pct_tot_male_pop_cty_st

pct_tot_female_pop_cty_st = (pd.to_numeric(df["tot_county_female_pop"])/pd.to_numeric(df["total_female_pop"])) * 100
df["pct_tot_female_pop_cty_st"]=pct_tot_female_pop_cty_st


#df.head()

df_final = df.sort_values(["state_code", "tot_county_pop"], ascending=[True, False]).reset_index(drop=True)



df_final.head(100)

,county_name_state,county_code,state_code,cleaned_total_pop,total_male_pop,total_female_pop,tot_county_pop,tot_county_male_pop,tot_county_female_pop,pct_tot_pop_cty_st,pct_tot_male_pop_cty_st,pct_tot_female_pop_cty_st
0,"Jefferson County, Alabama",073,01,4779736,2320188,2459548,658466,311813,346653,13.776200,13.439126,14.094175
1,"Mobile County, Alabama",097,01,4779736,2320188,2459548,412992,198374,214618,8.640477,8.549911,8.725912
2,"Madison County, Alabama",089,01,4779736,2320188,2459548,334811,164320,170491,7.004801,7.082185,6.931802
3,"Montgomery County, Alabama",101,01,4779736,2320188,2459548,229363,109167,120196,4.798654,4.705093,4.886914
4,"Shelby County, Alabama",117,01,4779736,2320188,2459548,195085,95557,99528,4.081502,4.118502,4.046597
5,"Tuscaloosa County, Alabama",125,01,4779736,2320188,2459548,194656,94400,100256,4.072526,4.068636,4.076196
6,"Baldwin County, Alabama",003,01,4779736,2320188,2459548,182265,89196,93069,3.813286,3.844344,3.783988
7,"Lee County, Alabama",081,01,4779736,2320188,2459548,140247,69126,71121,2.934200,2.979328,2.891629
8,"Morgan County, Alabama",103,01,4779736,2320188,2459548,119490,58886,60604,2.499929,2.537984,2.464030
9,"Calhoun County, Alabama",015,01,4779736,2320188,2459548,118572,57176,61396,2.480723,2.464283,2.496231
10,"Etowah County, Alabama",055,01,4779736,2320188,2459548,104430,50626,53804,2.184849,2.181978,2.187556
11,"Houston County, Alabama",069,01,4779736,2320188,2459548,101547,48740,52807,2.124532,2.100692,2.147021
12,"Marshall County, Alabama",095,01,4779736,2320188,2459548,93019,45843,47176,1.946112,1.975831,1.918076
13,"Lauderdale County, Alabama",077,01,4779736,2320188,2459548,92709,44379,48330,1.939626,1.912733,1.964995
14,"St. Clair County, Alabama",115,01,4779736,2320188,2459548,83593,41904,41689,1.748904,1.806061,1.694986
15,"Limestone County, Alabama",083,01,4779736,2320188,2459548,82782,41910,40872,1.731937,1.806319,1.661769
16,"Talladega County, Alabama",121,01,4779736,2320188,2459548,82291,40077,42214,1.721664,1.727317,1.716332
17,"Cullman County, Alabama",043,01,4779736,2320188,2459548,80406,39719,40687,1.682227,1.711887,1.654247
18,"Elmore County, Alabama",051,01,4779736,2320188,2459548,79303,38689,40614,1.659150,1.667494,1.651279
19,"DeKalb County, Alabama",049,01,4779736,2320188,2459548,71109,35113,35996,1.487718,1.513369,1.463521
20,"Walker County, Alabama",127,01,4779736,2320188,2459548,67023,32668,34355,1.402232,1.407989,1.396801
21,"Blount County, Alabama",009,01,4779736,2320188,2459548,57322,28362,28960,1.199271,1.222401,1.177452
22,"Autauga County, Alabama",001,01,4779736,2320188,2459548,54571,26569,28002,1.141716,1.145123,1.138502
23,"Colbert County, Alabama",033,01,4779736,2320188,2459548,54428,26159,28269,1.138724,1.127452,1.149358
24,"Jackson County, Alabama",071,01,4779736,2320188,2459548,53227,26139,27088,1.113597,1.126590,1.101341
25,"Russell County, Alabama",113,01,4779736,2320188,2459548,52947,25287,27660,1.107739,1.089869,1.124597
26,"Dale County, Alabama",045,01,4779736,2320188,2459548,50251,24825,25426,1.051334,1.069956,1.033767
27,"Coffee County, Alabama",031,01,4779736,2320188,2459548,49948,24684,25264,1.044995,1.063879,1.027181
28,"Dallas County, Alabama",047,01,4779736,2320188,2459548,43820,20244,23576,0.916787,0.872516,0.958550
29,"Chilton County, Alabama",021,01,4779736,2320188,2459548,43643,21608,22035,0.913084,0.931304,0.895896
...,...,...,...,...,...,...,...,...,...,...,...,...
70,"Kenai Peninsula Borough, Alaska",122,02,710231,369628,340603,55400,29038,26362,7.800279,7.856007,7.739803
71,"Juneau City and Borough, Alaska",110,02,710231,369628,340603,31275,15950,15325,4.403497,4.315149,4.499373
72,"Bethel Census Area, Alaska",050,02,710231,369628,340603,17013,8898,8115,2.395418,2.407285,2.382539
73,"Kodiak Island Borough, Alaska",150,02,710231,369628,340603,13592,7197,6395,1.913744,1.947093,1.877552
74,"Ketchikan Gateway Borough, Alaska",130,02,710231,369628,340603,13477,6911,6566,1.897552,1.869718,1.927758
75,"Valdez-Cordova Census Area, Alaska",261,02,710231,369628,340603,9636,5143,4493,1.356742,1.391399,1.319131
76,"Nome Census Area, Alaska",180,02,710231,369628,340603,9492,5058,4434,1.336467,1.368403,1.301809
77,"North Slope Borough, Alaska",185,02,710231,369628,340603,9430,5904,3526,1.327737,1.597282,1.035223
78,"Sitka City and Borough, Alaska",220,02,710231,369628,340603,8881,4481,4400,1.250438,1.212300,1.291827
79,"Northwest Arctic Borough, Alaska",188,02,710231,369628,340603,7523,4029,3494,1.059233,1.090015,1.025828
80,"Wade Hampton Census Area, Alaska",270,02,710231,369628,340603,7459,3944,3515,1.050222,1.067019,1.031993
81,"Southeast Fairbanks Census Area, Alaska",240,02,710231,369628,340603,7029,3917,3112,0.989678,1.059714,0.913674
82,"Yukon-Koyukuk Census Area, Alaska",290,02,710231,369628,340603,5588,3027,2561,0.786786,0.818931,0.751902
83,"Aleutians West Census Area, Alaska",016,02,710231,369628,340603,5561,3723,1838,0.782985,1.007229,0.539631
84,"Prince of Wales-Hyder Census Area, Alaska",198,02,710231,369628,340603,5559,3070,2489,0.782703,0.830565,0.730763
85,"Dillingham Census Area, Alaska",070,02,710231,369628,340603,4847,2541,2306,0.682454,0.687448,0.677035
86,"Petersburg Census Area, Alaska",195,02,710231,369628,340603,3815,1982,1833,0.537149,0.536215,0.538163
87,"Aleutians East Borough, Alaska",013,02,710231,369628,340603,3141,2093,1048,0.442250,0.566245,0.307690
88,"Haines Borough, Alaska",100,02,710231,369628,340603,2508,1274,1234,0.353125,0.344671,0.362299
89,"Wrangell City and Borough, Alaska",275,02,710231,369628,340603,2369,1242,1127,0.333553,0.336014,0.330884
90,"Hoonah-Angoon Census Area, Alaska",105,02,710231,369628,340603,2150,1165,985,0.302718,0.315182,0.289193
91,"Denali Borough, Alaska",068,02,710231,369628,340603,1826,1002,824,0.257099,0.271083,0.241924
92,"Lake and Peninsula Borough, Alaska",164,02,710231,369628,340603,1631,859,772,0.229644,0.232396,0.226657
93,"Bristol Bay Borough, Alaska",060,02,710231,369628,340603,997,540,457,0.140377,0.146093,0.134174
94,"Skagway Municipality, Alaska",230,02,710231,369628,340603,968,500,468,0.136294,0.135271,0.137403
95,"Yakutat City and Borough, Alaska",282,02,710231,369628,340603,662,360,302,0.093209,0.097395,0.088666
96,"Maricopa County, Arizona",013,04,6392017,3175823,3216194,3817117,1888465,1928652,59.716941,59.463799,59.966905
97,"Pima County, Arizona",019,04,6392017,3175823,3216194,980263,481437,498826,15.335738,15.159441,15.509823
98,"Pinal County, Arizona",021,04,6392017,3175823,3216194,375770,197165,178605,5.878739,6.208312,5.553303
99,"Yavapai County, Arizona",025,04,6392017,3175823,3216194,211033,103458,107575,3.301509,3.257675,3.344792

In [137]:
## loading into Mysql
# PyMySQL 
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [138]:
engine = create_engine("mysql://test@localhost:3306/favorite_db")
conn = engine.connect()

In [140]:
df_final.to_sql("us_county_population", conn)
#data.head()

In [142]:
## exporting in to Excel
df_final.to_excel("us_county_population.xls")